{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Friends</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <h1 class="title">FRIENDS :)<br><br><a href="{% url 'friends:list' %}"><img src="{% static 'friends.jpg' %}"/></a></h1>
            <div class="nav-style">
                <nav>
                    <ul>
                        <li><a href="https://kefas-profile.herokuapp.com">My Profile</a></li>
                        <li><a href="https://kefas-profile.herokuapp.com/friends/">Friends</a></li>
                        {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                        <li><a href="{% url 'friends:create' %}" class="highlight">Add Friend</a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
