{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cephas Knight</title>
        <link href="{% static 'portfolio/Main.css' %}" rel="stylesheet">

    </head>

    <body>
        <!-- header start -->
        <div id="header" class="section">
            <p>Kefas Satrio Bangkit Solideantyo</p>
            <img alt="Cool shit" class="img-circle" src="{% static 'portfolio/images/kefas.jpg' %}" style="height:20%;width:20%;margin-top:60px;margin-bottom:85px">
        </div>
        <!-- header end -->
        <div class="nav-style">
            <nav>
                <ul>
                    <li><a href="https://kefas-profile.herokuapp.com">Kefas' Profile</a></li>
                    <li><a href="https://kefas-profile.herokuapp.com/friends/">Friends</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'friends:create' %}" class="highlight">Add Friend</a></li>
                    <li>
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!-- About Me section start -->
        <div class="section">
            <h1><span>About Me</span></h1>
            <p>
                Hey! I'm <strong>Kefas</strong>. I've never really learned HTML, CSS, and Django properly since I've been too busy studying DDP1 and Discrete Mathematics. This is my first time coding with HTML, CSS, and Django (actually coding in general since I have no coding experience at all in highschool). By <i>coding</i> I mean <i>copy-pasting</i> <b>"some"</b> codes from <a href="http://www.sololearn.com" class="sololearn"><ins>SoloLearn</ins></a>/<a href="https://stackoverflow.com/" class="sololearn"><ins>Stack Overflow</ins></a> and then modify them to get what I want.
                <br>
                So....
                <br>
                Yeah...
                <br>
                I don't really fully remember what <strong>ALL</strong> of these codes do (mostly the CSS and Django codes), but I do understand <i>some</i> parts of them.
                <br>
                Like, all I did was try to imagine what I want this website to look like, then I start looking for ways on how to do so from the internet because I am a legit beginner. <i>Even though I copy-pasted some codes from the internet</i>, at least I get to learn something from doing so.
                I learned a lot too from debugging the crap out of my codes, especially when I started coding with Django. Even now, I still don't expect myself to remember everything about how to code with Django in such a short amount of time since this is the first time I had my hands on Django.
                <br>
                I really hope I can be a member of the BEM PTI team soon so I can have more experience and improve my skills using HTML, CSS, and Django (and then actually manage to remember what all these codes are for).
                <br>
                OH... and I owe A LOT of thanks to Kak Jojo (my SBF PTI Teacher) for being patient with me (I kept asking him thousands of questions for days and kept him up till 3 A.M. just to answer me lmao) and I also want to thank <a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg" class="netninja">The Net Ninja</a> for making easy-to-understand Django tutorials.
                <br>
                Because of these two people I managed to learn a lot about Django and able to make this website.
                <br>
                It's far from perfect,
                <br>
                but I am actually quite proud of it and I believe I can improve my skills soon. :)
            </p>
            <p class="quote">"I love anime" - Elon Musk</p>
        </div>
        <!-- About Me section end -->

        <div class="section">
            <h1><span>My CV</span></h1>
            <p class="cv"><img src="{% static 'portfolio/images/MY CV.png' %}" style="width:75%;height:75%;"></p>
        </div>


        <!-- My Achievements section start -->
        <div class="section">
            <h1><span>My Achievements</span></h1>
            <ul>
                <li><b><i>Cooked a 3-minute instant cup noodles in under 2 minutes</i></b></li>
                <p class="popmie"><img src ="http://assets.klikindomaret.com/products/10000975/10000975_1.jpg" style="width:30%;heigt:30%;"></p>
                <li><b><i>Beauty Make Up contest (1st place winner)</i></b></li>
                <p class="makeup"><img src="{% static 'portfolio/images/before after.jpg' %}" style="width:80%;height:80%;"></p>
                <li><b><i>Saved Bekasi from Godzilla</i></b></li>
                <p class="godzilla"><img src="{% static 'portfolio/images/zilla vs epas.jpg' %}" style="width:80%;height:80%;"></p>
                <li><b><i>Menemukan cara mandi air hangat di tempat kost menggunakan ricecooker</i></b></li>
                <p class="godzilla"><img src="{% static 'portfolio/images/mandi ricecooker.jpg' %}" style="width:50%;height:50%;"></p>


            </ul>


        </div>
        <!-- My Schedule section end -->


        <!-- My Skills section start -->
        <div class="section">
            <h1><span>My Skills</span></h1>
            <ul>
                </li>
                <li>Microsoft Office <br>
                    <progress min="0" max="100" value="75"></progress>
                </li>
                <li>Photoshop <br />
                    <progress min = "0" max="100" value="55"></progress>
                </li>
                <li>Python <br />
                    <progress min="0" max="100" value="40"></progress>
                </li>
                <li>HTML, CSS, Django <br />
                    <progress min="0" max="100" value="20"></progress>
                </li>

            </ul>
        </div>
        <!-- My Skills section end -->
        <!-- FAQ -->
        <div class="section">
            <h1><span>F.A.Q</span></h1>
            <ul>
                <li>Kefas, Kefas apa yang bikin adem?<br>
                     <img src="https://www.static-src.com/wcsstore/Indraprastha/images/catalog/medium//93/MTA-1643457/cosmos_cosmos-16sdb-stand-fan--16-inch-_full02.jpg" style="height:50%; width:50%;">
                    <p><i>Kefas angin</i></p>
                </li>
                <br>
                <li>Kefas, Kefas apa yang lembut?<br>
                    <img src= "https://img.okeinfo.net/content/2015/04/13/194/1133181/intip-manfaat-bola-kapas-bagi-kecantikan-yIPtVeEtHS.jpg" style="height: 50%; width: 50%;">
                    <p><i>Kepas</i></p>
                </li>
                <li>Apa yang terjadi bila Kefas ditaruh di ruangan bersuhu tinggi?<br>
                    <img src="https://asset.kompas.com/crop/2x3:998x667/750x500/data/photo/2017/07/05/1117909854.jpg" style="height: 50%; width: 50%;">
                    <p><i>Kefanasan</i></p>
                </li>
                <li>Kemanakah Kefas pergi jika ingin berbelanja?<br>
                    <img src="https://img.beritasatu.com/cache/beritasatu/910x580-2/141465633732.jpg" style="height: 50%; width: 50%;">
                    <p><i>Kefasar</i></p>
                </li>
            </ul>
        </div>

         <!-- Media section start -->
        <div class="section">
            <h1><span>Brand Recommendations</span></h1>
            <h4 align="center"> Nutrisari </h4>
            <iframe height="350px" width="60%"align="center" src="https://www.youtube.com/embed/c1HhkGcC0OA" allowfullscreen></iframe>
            <h4 align="center"> Mecin </h4>
            <iframe height="350px" width="60%"align="center" src="https://www.youtube.com/embed/At2_qCUZrCw" allowfullscreen></iframe>
            <h4 align="center"> Tolak Angin </h4>
            <iframe height="350px" width="60%"align="center" src="https://www.youtube.com/embed/PEO7nq20VZw" allowfullscreen></iframe>


        </div>
        <!-- Media section end -->


        <!-- Contacts section start -->
        <div class="section" id="contacts">
            <h1><span>Follow Me!</span></h1>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100010642963869" target="_blank">
                    <img style="height:5%; width:5%;" alt="Facebook" src="https://en.facebookbrand.com/wp-content/uploads/2016/05/flogo_rgb_hex-brc-site-250.png" />
                </a>
                <a href="https://www.instagram.com/kefas_satrio/?hl=en" target = "_blank">
                    <p class="ig"><img style="height:7%; width:7%;" alt="Instagram" src="https://www.brandchannel.com/wp-content/uploads/2016/05/instagram-new-logo-may-2016.jpg"/></p>
                </a>
                <a href="https://twitter.com/kefas_satrio" target = "_blank">
                    <img style="height:6%; width:6%;" alt="Twitter" src="https://www.sololearn.com/Uploads/icons/twitter.png" />
                </a>
            </div>
        </div>
        <!-- Contacts section end -->

        <div class="section" >
            <p align="center"><img style="height:70%; width:70%;" alt="Thank You" src="{% static 'portfolio/images/thank you.jpg' %}" /></p>
        </div>

    </body>
</html>
